<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>controller.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>controller.Product.SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateProductId</servlet-name>
        <servlet-class>controller.Product.GenerateProductId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCategoryList</servlet-name>
        <servlet-class>controller.Product.GenerateCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.Product.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductCategoryList</servlet-name>
        <servlet-class>controller.Product.UpdateProductCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateUpdateMDL</servlet-name>
        <servlet-class>controller.Product.GenerateUpdateMDL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusProduct</servlet-name>
        <servlet-class>controller.Product.ChangeStatusProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductList</servlet-name>
        <servlet-class>controller.Product.LoadProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateItemId</servlet-name>
        <servlet-class>controller.Item.GenerateItemId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateProductList</servlet-name>
        <servlet-class>controller.Item.GenerateProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveItem</servlet-name>
        <servlet-class>controller.Item.SaveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadItemList</servlet-name>
        <servlet-class>controller.Item.LoadItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateItemUpdateMDLData</servlet-name>
        <servlet-class>controller.Item.GenerateItemUpdateMDLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>controller.Item.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusItem</servlet-name>
        <servlet-class>controller.Item.ChangeStatusItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCategoryListForVariation</servlet-name>
        <servlet-class>controller.Variation.GenerateCategoryListForVariation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateVariationList</servlet-name>
        <servlet-class>controller.Variation.GenerateVariationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateVariationUpdateMDLData</servlet-name>
        <servlet-class>controller.Variation.GenerateVariationUpdateMDLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVariation</servlet-name>
        <servlet-class>controller.Variation.UpdateVariation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.VariationOption.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateVariationListForOption</servlet-name>
        <servlet-class>controller.VariationOption.GenerateVariationListForOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOption</servlet-name>
        <servlet-class>controller.VariationOption.SaveOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateVariationOptionUpdateMDLData</servlet-name>
        <servlet-class>controller.VariationOption.GenerateVariationOptionUpdateMDLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOption</servlet-name>
        <servlet-class>controller.VariationOption.UpdateOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateOtherOptions</servlet-name>
        <servlet-class>controller.Item.GenerateOtherOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateParentCategoryList</servlet-name>
        <servlet-class>controller.Category.generateParentCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateCategoryUpdateMDLData</servlet-name>
        <servlet-class>controller.Category.generateCategoryUpdateMDLData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEmployeeId</servlet-name>
        <servlet-class>controller.Employee.LoadEmployeeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateEmployeeList</servlet-name>
        <servlet-class>controller.Employee.GenerateEmployeeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusEmployee</servlet-name>
        <servlet-class>controller.Employee.changeStatusEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateEmployeeData</servlet-name>
        <servlet-class>controller.Employee.generateEmployeeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>controller.Employee.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveRole</servlet-name>
        <servlet-class>controller.Role.saveRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoleList</servlet-name>
        <servlet-class>controller.Role.LoadRoleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateRoleData</servlet-name>
        <servlet-class>controller.Role.generateRoleData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRole</servlet-name>
        <servlet-class>controller.Role.updateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSystemUserList</servlet-name>
        <servlet-class>controller.systemUser.loadSystemUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadEmployeeListSystemUser</servlet-name>
        <servlet-class>controller.systemUser.loadEmployeeListSystemUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRoleListSystemUser</servlet-name>
        <servlet-class>controller.systemUser.loadRoleListSystemUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveSystemUser</servlet-name>
        <servlet-class>controller.systemUser.saveSystemUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRoleListSystemUserUpdate</servlet-name>
        <servlet-class>controller.systemUser.GenerateUserAccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateUserAccountDetails</servlet-name>
        <servlet-class>controller.systemUser.GenerateUserAccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testSessionKill</servlet-name>
        <servlet-class>controller.Test.testSessionKill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>controller.Login.EmployeeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogout</servlet-name>
        <servlet-class>controller.Logout.EmployeeLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryListOffcanvas</servlet-name>
        <servlet-class>controller.Header.LoadCategoryListOffcanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadOptionContent</servlet-name>
        <servlet-class>controller.Collection.loadOptionContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateProductId</servlet-name>
        <url-pattern>/GenerateProductId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCategoryList</servlet-name>
        <url-pattern>/GenerateCategoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductCategoryList</servlet-name>
        <url-pattern>/UpdateProductCategoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateUpdateMDL</servlet-name>
        <url-pattern>/GenerateUpdateMDL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusProduct</servlet-name>
        <url-pattern>/ChangeStatusProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductList</servlet-name>
        <url-pattern>/LoadProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateItemId</servlet-name>
        <url-pattern>/GenerateItemId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateProductList</servlet-name>
        <url-pattern>/GenerateProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveItem</servlet-name>
        <url-pattern>/SaveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadItemList</servlet-name>
        <url-pattern>/LoadItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateItemUpdateMDLData</servlet-name>
        <url-pattern>/GenerateItemUpdateMDLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusItem</servlet-name>
        <url-pattern>/ChangeStatusItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCategoryListForVariation</servlet-name>
        <url-pattern>/GenerateCategoryListForVariation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateVariationList</servlet-name>
        <url-pattern>/GenerateVariationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateVariationUpdateMDLData</servlet-name>
        <url-pattern>/GenerateVariationUpdateMDLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVariation</servlet-name>
        <url-pattern>/UpdateVariation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateVariationListForOption</servlet-name>
        <url-pattern>/GenerateVariationListForOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOption</servlet-name>
        <url-pattern>/SaveOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateVariationOptionUpdateMDLData</servlet-name>
        <url-pattern>/GenerateVariationOptionUpdateMDLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOption</servlet-name>
        <url-pattern>/UpdateOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateOtherOptions</servlet-name>
        <url-pattern>/GenerateOtherOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateParentCategoryList</servlet-name>
        <url-pattern>/generateParentCategoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateCategoryUpdateMDLData</servlet-name>
        <url-pattern>/generateCategoryUpdateMDLData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEmployeeId</servlet-name>
        <url-pattern>/LoadEmployeeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateEmployeeList</servlet-name>
        <url-pattern>/GenerateEmployeeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusEmployee</servlet-name>
        <url-pattern>/changeStatusEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateEmployeeData</servlet-name>
        <url-pattern>/generateEmployeeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveRole</servlet-name>
        <url-pattern>/saveRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoleList</servlet-name>
        <url-pattern>/LoadRoleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateRoleData</servlet-name>
        <url-pattern>/generateRoleData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRole</servlet-name>
        <url-pattern>/updateRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSystemUserList</servlet-name>
        <url-pattern>/loadSystemUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadEmployeeListSystemUser</servlet-name>
        <url-pattern>/loadEmployeeListSystemUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRoleListSystemUser</servlet-name>
        <url-pattern>/loadRoleListSystemUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveSystemUser</servlet-name>
        <url-pattern>/saveSystemUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRoleListSystemUserUpdate</servlet-name>
        <url-pattern>/loadRoleListSystemUserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateUserAccountDetails</servlet-name>
        <url-pattern>/GenerateUserAccountDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testSessionKill</servlet-name>
        <url-pattern>/testSessionKill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/EmployeeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogout</servlet-name>
        <url-pattern>/EmployeeLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryListOffcanvas</servlet-name>
        <url-pattern>/LoadCategoryListOffcanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadOptionContent</servlet-name>
        <url-pattern>/loadOptionContent</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <error-code>505</error-code>
        <location>/505.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    
    <listener>
        <listener-class>common.SessionClose</listener-class>
    </listener>


</web-app>
